@import '../../../../../../../../../assets/styles/utils/mixin';

.faceid-accordion {
    display: flex;
    flex-direction: column;

    &>*:nth-child(n):not(:last-child):not(:only-child) {
        margin-bottom: calc(#{$indent-md} * 2);
    }
}