@import "../../../../assets/styles/utils/mixin";

.toolbar {
    width: 100%;
    display: flex;
    padding: $indent-sm 0;
    transition: $transition;
    z-index: 2;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, borderColor);
        }
    }

    &__section {
        display: flex;
        margin-right: $indent-sm;
        border-right: 2px solid;
        transition: $transition;
        @each $theme, $map in $themes {
            .#{$theme} & {
                border-color: map-get($map, white);
            }
        }

        &--alarm {
            flex: 1 100%;
            justify-content: flex-end;
        }

        & > *:nth-child(n) {
            margin-right: $indent-sm;
        }

        &:last-child {
            &>*:last-child {
                margin: 0;
            }
        }
    }

    &__section:last-child {
        margin: 0;
        border: none;
    }

    &__content {
        width: 100%;
        display: flex;
        padding: 0 $indent-sm;

        &__search {
            margin-left: auto !important;
        }
    }
}
