@import '../../../../../../../../../../assets/styles/utils/mixin';

.access-points-setup__customization-tab {
    width: 100%;
    display: flex;
    flex-direction: column;

    &>*:nth-child(n):not(:last-child):not(:only-child) {
        margin-bottom: $indent-md;
    }

    .customization-tab {
        &__header {
            display: flex;

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: $indent-md;
            }
        }

        &__body {
            display: flex;

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: $indent-md;
            }
        }

        &__footer {
            width: 100%;
            display: flex;
            align-items: flex-end;

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: $indent-md;
            }

            .custom-button {
                min-width: 200px;
            }

            &-message {
                min-width: 200px;
                height: 36px;
                display: flex;
                align-items: center;

                &-icon {
                    min-width: 30px;
                    min-height: 30px;
                    margin-right: $indent-md;
    
                    &.icon--success {
                        svg {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    fill: map-get($map, brandPantonGreen);
                                }
                            }
                        }
                    }
    
                    &.icon--warning {
                        svg {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    fill: map-get($map, brandPantonYellow);
                                }
                            }
                        }
                    }
                }

                &-label {
                    width: 220px;
    
                    &>* {
                        line-height: 16px;
                    }
                }
            }
        }
    }
}