@import '../../../../../../../../../../assets/styles/utils/mixin';

.week-day {
    display: flex;
    flex-direction: column;
    padding: $indent-md;
    padding-bottom: $indent-lg;
    border-radius: $border-rad_10;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, brandBackground);
        }
    }

    &>*:first-child {
        margin-bottom: $indent-md;
    }

    &>*:nth-child(n+2):not(:last-child) {
        margin-bottom: calc(#{$indent-md} * 2);
    }

    &__day-of {
        display: flex;

        svg {
            width: 12px;
            margin-right: $indent-sm;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    fill: map-get($map, brandPantonRed);
                }
            }
        }

        &>* {
            @each $theme, $map in $themes {
                .#{$theme} & {
                    color: map-get($map, brandPantonRed);
                }
            }
        }
    }

    &__day-name {
        font-size: 10px;
        font-weight: 500;
        text-transform: uppercase;
        @each $theme, $map in $themes {
            .#{$theme} & {
                color: map-get($map, brandPantonText);
            }
        }
    }

    &__worcking-time {
        display: flex;
        flex-direction: column;
    }

    &__breaks-time {
        display: flex;
        flex-direction: column;

        .time {
            &__items {
                .items-time {
                    display: flex;
                    flex-direction: column;

                    &>*:nth-child(n):not(:last-child):not(:only-child) {
                        margin-bottom: $indent-sm;
                    }
                }
            }
        }
    }

    .time {
        &__titles {
            display: flex;
            margin-bottom: $indent-md;

            &>* {
                flex: 1 100%;
                display: flex;
                align-items: flex-start;

                &:first-child {
                    max-width: 120px;
                }

                &>* {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            color: map-get($map, brandPantonSubText);
                        }
                    }
                }

                svg {
                    width: 9px;
                    margin-left: 3px;
                    cursor: pointer;
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonSubText);
                        }
                    }
                }

                .title-prompt {
                    display: flex;
                    position: relative;

                    svg {
                        width: 9px;
                        margin-left: 3px;
                        cursor: pointer;
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                fill: map-get($map, brandPantonSubText);
                            }
                        }
                    }

                    &__description {
                        width: 180px;
                        position: absolute;
                        bottom: calc(100% + 10px);
                        left: calc(-180px / 2 + 9px);
                        padding: $indent-md;
                        border-radius: 8px;
                        visibility: hidden;
                        opacity: 0;
                        transition: $transition;
                        font-size: 10px;
                        line-height: 14px;
                        z-index: 2;
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                background-color: map-get($map, white);
                                color: map-get($map, brandPantonText);
                                box-shadow: 0px 10px 10px transparentize(map-get($map, brandPantonText), 0.9);
                                border: 1px solid map-get($map, brandBackground);
                            }
                        }

                        &::before {
                            content: '';
                            width: $indent-md;
                            height: $indent-md;
                            position: absolute;
                            bottom: -$indent-sm - 1px;
                            left: calc(50% - #{$indent-sm});
                            transform: rotate(45deg);
                            border-radius: 0 0 3px 0;
                            z-index: 1;
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    background-color: map-get($map, white);
                                    border-right: 1px solid map-get($map, brandBackground);
                                    border-bottom: 1px solid map-get($map, brandBackground);
                                }
                            }
                        }
                    }

                    &:hover {
                        .title-prompt__description {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: 34px;
            }
        }

        &__items {
            display: flex;

            &>* {
                flex: 1 100%;
                display: flex;

                &:first-child {
                    max-width: 120px;
                }
            }

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: 34px;
            }
        }
    }

    &.day-of {
        @each $theme, $map in $themes {
            .#{$theme} & {
                background: transparentize(map-get($map, brandPantonRed), 0.9);
            }
        }
        
        .week-day__day-name {
            @each $theme, $map in $themes {
                .#{$theme} & {
                    color: map-get($map, brandPantonRed);
                }
            }
        }
    }

    .p--sm--normal {
        user-select: none;
    }
}