@import '~assets/styles/utils/mixin';

.toasts {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    padding: $indent-md;
    z-index: 100;
    pointer-events: none;

    & > *:nth-child(n):not(:last-child):not(:only-child) {
        margin-bottom: $indent-md;
    }
}
