@import '~assets/styles/utils/mixin';

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: $transition;
    z-index: 1000;
    background: rgba($black, 0.3);

    &.visible {
        opacity: 1;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    border-radius: $border-rad_10;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, white);
            box-shadow: 0px 10px 10px 0px rgba(map-get($map, black), 0.2);
        }
    }

    &__header {
        display: flex;
        padding: $indent-md;
        border-bottom: 1px solid;
        align-items: center;
        border-radius: $border-rad_10 $border-rad_10 0 0;
        cursor: all-scroll;
        @each $theme, $map in $themes {
            .#{$theme} & {
                border-color: map-get($map, borderColor);
                background: map-get($map, borderColor);
            }
        }

        .modal-header {
            display: flex;
            flex: 1;

            &__icon {
                margin-right: $indent-sm;

                svg {
                    width: 18px;
                    height: 18px;
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonBlue);
                        }
                    }
                }

                &.Attention svg,
                &.Warning svg {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonYellow);
                        }
                    }
                }

                &.Danger svg {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonRed);
                        }
                    }
                }
            }

            &__toggler {
                margin-left: auto;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }

                svg {
                    width: 18px;
                    height: 18px;
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, black);
                        }
                    }
                }

                &.focus-visible {
                    transform: scale(1.2);
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            box-shadow: 0 0 0 0.2rem map-get($map, brandFocus);
                            z-index: 100;
                        }
                    }
                }
            }
        }
    }

    &__body {
        flex: 1 100%;
        display: flex;
        flex-direction: column;
        padding: $indent-lg;

        .tabbar {
            .tabbar-bar {
                &__tabs {
                    margin: 0;
                }
            }
        }
    }

    &__footer {
        display: flex;
        padding: $indent-lg $indent-md $indent-md $indent-md;

        .modal-footer__content {
            width: 100%;
            display: flex;
            justify-content: center;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: map-get($map, white);
                }
            }

            .custom-button {
                width: 128px;
                height: 36px;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background: map-get($map, white);
                    }
                }

                .buttons__label > * {
                    text-align: center;
                    font-weight: 500;
                }

                &--typical {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background: map-get($map, white);
                            border: 2px solid map-get($map, brandPantonBlue);
                        }
                    }

                    .buttons__label > * {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                color: map-get($map, brandPantonBlue);
                            }
                        }
                    }

                    &:hover {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                box-shadow: 0 5px 4px 0 rgba(map-get($map, brandPantonBlue), 0.35);
                            }
                        }
                    }
                }

                &--danger {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background: map-get($map, white);
                            border: 2px solid map-get($map, brandPantonRed);
                        }
                    }

                    .buttons__label > * {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                color: map-get($map, brandPantonRed);
                            }
                        }
                    }

                    &:hover {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                box-shadow: 0 5px 4px 0 rgba(map-get($map, brandPantonRed), 0.35);
                            }
                        }
                    }
                }
            }

            > *:not(*:last-child) {
                user-select: none;
                margin-right: $indent-md;
            }
        }
    }

    &.dialog-modal,
    &.wizard-modal {
        .modal__body {
            padding: 0 $indent-lg;
        }

        .modal-footer__content {
            justify-content: flex-end;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    border-top: 2px solid map-get($map, borderColor);
                }
            }

            .custom-button {
                margin-top: $indent-md;
            }
        }
    }

    &.wizard-modal {
        .modal-footer__content {
            justify-content: flex-start;
            flex-direction: row-reverse;

            & > *:first-child {
                margin-right: 0;
            }

            & > *:last-child {
                margin-right: $indent-md;
            }
        }
    }

    &.alert-modal {
        width: 600px;

        .modal__body {
            display: flex;
            flex-direction: row;

            &-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;

                svg {
                    width: 30px;
                    height: 30px;
                }

                &.error {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonRed);
                        }
                    }
                }

                &.warning {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonYellow);
                        }
                    }
                }

                &.info,
                &.delete,
                &.restore {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonBlue);
                        }
                    }
                }
            }

            &-info {
                flex: 1 100%;
                display: flex;
                align-items: center;
                margin-left: $indent-md;
            }
        }

        .modal__footer {
            padding: $indent-md;
        }
    }
}
