@import '../../../../../../../../../../assets/styles/utils/mixin';

.access-points-setup__general-tab {
    flex: 1 100%;
    max-width: 713px;
    display: flex;
    flex-direction: column;

    &>*:nth-child(n):not(:last-child):not(:only-child) {
        margin-bottom: $indent-md;
    }

    .general-tab {
        &__header {
            display: flex;

            &>*:nth-child(n):not(:last-child):not(:only-child) {
                margin-right: $indent-md;
            }

            &>*:nth-child(2) {
                min-width: 182px;
                max-width: 182px;
            }
        }

        &__body {
            flex: 1 100%;
            display: flex;
            flex-direction: column;
        }
    }
}