@import '../../../../../../../../assets/styles/utils/mixin';

.employee-identifiers-tab {    
    width: 630px;
    height: 316px;
    display: flex;
    flex-direction: column;
    margin-top: $indent-lg;
}