@import '~assets/styles/utils/mixin';

.equipment {
    width: 299px;
    position: relative;
    margin: 0 $indent-md $indent-md 0;

    &--front {
        z-index: 4;
    }

    &__wrapper {
        display: flex;
        min-height: 194px;
        flex-direction: column;
        position: relative;
        padding: $indent-md;
        border-radius: $border-rad_10;
        border: 2px solid;
        border-color: transparent;
        transition: $transition;
        z-index: 2;
        @each $theme, $map in $themes {
            .#{$theme} & {
                background: map-get($map, white);
                box-shadow: 0 10px 10px transparentize(map-get($map, black), 0.9);
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        z-index: 2;

        & > *:nth-child(n):not(:last-child):not(:only-child) {
            margin-right: $indent-md;
        }

        &-icon {
            min-width: 36px;
            min-height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: $border-rad_10;
            transition: $transition;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: map-get($map, brandPantonText);
                }
            }

            svg {
                width: 20px;
                height: 20px;
                transition: $transition;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        fill: map-get($map, white);
                    }
                }
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: calc(100% - 6px);
                left: calc(100% - 9px);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid;
                transition: $transition;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background: lighten(map-get($map, black), 85%);
                        border-color: map-get($map, white);
                    }
                }
            }

            &.active {
                &::after {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background: map-get($map, brandPantonGreen);
                        }
                    }
                }
            }

            &.inactive {
                &::after {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background: map-get($map, brandPantonRed);
                        }
                    }
                }
            }
        }

        &-description {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            & > * {
                flex: 1;
                transition: $transition;

                & > * {
                    white-space: pre;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            & > *:nth-child(n):not(:last-child):not(:only-child) {
                margin-bottom: $indent-sm;
            }

            & > *:only-child {
                display: flex;
                align-items: center;
            }
        }

        .equipment__pin-to-order {
            transition: $transition;

            &.centre {
                padding: $indent-sm 0;
            }

            svg {
                width: 21px;
                transition: $transition;
                cursor: pointer;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        fill: transparentize(map-get($map, black), 0.85);
                    }
                }

                &:hover {
                    transform: scale(1.5);
                }
            }

            &.pin {
                svg {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            fill: map-get($map, brandPantonYellow);
                        }
                    }
                }
            }
        }
    }

    &__body {
        flex: 1;
        width: 100%;
        display: flex;
        margin-top: $indent-md;
        z-index: 2;

        & > *:nth-child(n):not(:last-child):not(:only-child) {
            margin-right: $indent-md;
        }

        &-photo {
            flex: 1 100%;
            min-width: 81px;
            min-height: 112px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: $border-rad_10;
            transition: $transition;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: transparentize(map-get($map, black), 0.95);
                }
            }

            img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: $border-rad_10;
                object-fit: cover;
            }

            svg {
                width: calc(#{$indent-sm} * 7);
                height: calc(#{$indent-sm} * 7);
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        fill: transparentize(map-get($map, black), 0.8);
                    }
                }
            }
        }

        &-content {
            min-width: 172px;
            display: flex;
            flex-direction: column;

            .content__description {
                flex: 1 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .body-description {
                    &__employee-last-name {
                        overflow: hidden;

                        & > *:nth-child(n):not(:last-child):not(:only-child) {
                            margin-bottom: 4px;
                        }

                        & > *:nth-child(n) {
                            white-space: pre;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &__free-passage {
                        flex: 1 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                    }

                    &__mode-title {
                        margin-bottom: $indent-md;
                        overflow: hidden;

                        & > * {
                            white-space: pre;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    &__mode-type {
                        display: flex;
                        flex-direction: column;

                        & > *:nth-child(n):not(:last-child):not(:only-child) {
                            margin-bottom: $indent-sm;
                        }

                        & > *:nth-child(n) {
                            display: flex;
                            justify-content: space-between;

                            & > *:nth-child(n):not(:last-child):not(:only-child) {
                                margin-right: $indent-sm;
                            }

                            & > *:first-child {
                                @each $theme, $map in $themes {
                                    .#{$theme} & {
                                        color: map-get($map, brandPantonSubText);
                                    }
                                }
                            }

                            & > *:nth-child(2) {
                                white-space: pre;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    &__employee-position {
                        margin-bottom: $indent-sm;
                        overflow: hidden;

                        & > * {
                            white-space: pre;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    color: map-get($map, brandPantonSubText);
                                }
                            }
                        }
                    }

                    &__employee-id {
                        overflow: hidden;

                        & > * {
                            white-space: pre;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        & > * {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    color: map-get($map, brandPantonSubText);
                                }
                            }
                        }
                    }

                    &__error {
                        flex: 1 100%;
                        display: flex;
                        align-items: center;

                        & > *:nth-child(n):not(:last-child):not(:only-child) {
                            margin-right: $indent-md;
                        }

                        & > * {
                            line-height: 18px;
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    color: map-get($map, brandPantonRed);
                                    fill: map-get($map, brandPantonRed);
                                }
                            }
                        }

                        svg {
                            width: 100%;
                            max-width: 30px;
                        }
                    }
                }
            }

            .content__drive-equipment {
                flex: 1;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                .custom-button {
                    svg {
                        transition: $transition;

                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                background: map-get($map, brandBackground);
                            }
                        }
                    }

                    &:nth-child(n) {
                        margin-right: $indent-sm;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }

    &__settings {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: $indent-md;
        border: 2px solid;
        border-radius: $border-rad_10;
        visibility: hidden;
        transition: $transition;
        @each $theme, $map in $themes {
            .#{$theme} & {
                background: map-get($map, borderColor);
                border-color: transparentize(map-get($map, brandPantonText), 0.9);
                box-shadow: 0 10px 10px transparentize(map-get($map, black), 0.9);
            }
        }

        &.shown {
            animation: equipmentAnim2 0.25s forwards;
            visibility: visible;
            z-index: 3;
        }

        &.hidden {
            animation: equipmentAnim1 0.25s forwards;
            visibility: hidden;
            z-index: 1;
        }

        &:before {
            content: '';
            width: $indent-lg;
            height: $indent-lg;
            position: absolute;
            top: calc(#{$indent-lg} / -2);
            left: calc(50% - (#{$indent-lg} / 2));
            transform: rotate(45deg);
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: map-get($map, brandBackground);
                }
            }
        }
    }

    &.error {
        .equipment {
            &__wrapper {
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background: transparentize(map-get($map, brandPantonRed), 0.9);
                        border-color: map-get($map, brandPantonRed);
                    }
                }
            }

            &__header {
                &-icon {
                    &::after {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                background: map-get($map, brandPantonRed);
                            }
                        }
                    }
                }
            }

            &__body {
                &-photo {
                    display: none;
                }

                .content__drive-equipment {
                    .custom-button {
                        &:not(.custom-button--active) svg {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    background: map-get($map, white);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.inactive {
        .equipment__wrapper {
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: transparentize(map-get($map, black), 0.95);
                    border-color: transparentize(map-get($map, brandPantonText), 0.9);
                }
            }
        }

        .equipment__header {
            &-icon {
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background: transparentize(map-get($map, brandPantonText), 0.7);
                    }
                }
            }
        }

        .equipment__body {
            &-content {
                .content__drive-equipment {
                    .custom-button {
                        svg {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    background: map-get($map, white) !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes equipmentAnim1 {
    0% {
        top: calc(100% - 7px);
        left: -$indent-sm;
        width: calc(100% + #{$indent-md});
    }
    100% {
        top: 0;
    }
}

@keyframes equipmentAnim2 {
    0% {
        top: 0;
    }
    100% {
        top: calc(100% - 7px);
        left: -$indent-sm;
        width: calc(100% + #{$indent-md});
    }
}
