@import "../../../../assets/styles/utils/mixin";

.wizard {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &>*:first-child {
        margin-bottom: calc(#{$indent-md} * 2);
    }

    &__steps {
        min-height: 64px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

        &-item {
            z-index: 2;

            .wizard-steps-item {
                &__title {
                    width: 32px;
                    height: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    transition: $transition;
                    position: absolute;
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background-color: map-get($map, white);
                            border: 3px solid map-get($map, white);
                        }
                    }

                    &>* {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: $transition;
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                border: 1px solid map-get($map, borderColor);
                                color: transparentize(map-get($map, brandPantonText), 0.5);
                            }
                        }
                    }

                    .chekmarck {
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                background-color: map-get($map, brandPantonBlue);
                            }
                        }

                        svg {
                            width: 10px;
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    fill: map-get($map, white);
                                }
                            }
                        }
                    }
                }

                &__label {
                    position: absolute;
                    bottom: 0;
                    top: 39px;
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            color: map-get($map, brandPantonSubText);
                        }
                    }
                }
            }
            
            &--invalid {
                .wizard-steps-item {
                    &__title {
                        cursor: not-allowed;

                        &:hover {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    border: 3px solid map-get($map, borderColor);
                                }
                            }
                        }
                    }
                }
            }
            
            &--valid+&--invalid {
                .wizard-steps-item {
                    &__title {
                        cursor: pointer;
                    }
                }
            }

            &--valid {
                .wizard-steps-item {
                    &__title {
                        cursor: pointer;

                        &:hover {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    border-color: map-get($map, brandPantonBlue);
                                }
                            }
                        }
                    }
                }
            }

            &--active {
                .wizard-steps-item {
                    &__title {    
                        cursor: pointer;

                        &>* {
                            @each $theme, $map in $themes {
                                .#{$theme} & {
                                    background-color: map-get($map, brandPantonBlue);
                                    color: map-get($map, white);
                                }
                            }
                        }
                    }
                }
            }
        }

        &-marcker {
            width: 100%;
            height: 4px;
            position: absolute;
            border-radius: 2px;
            top: 14px;
            z-index: 1;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background-color: map-get($map, borderColor);
                }
            }

            &-item {
                height: 4px;
                transition: $transition;
                border-radius: 2px;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background-color: map-get($map, brandPantonBlue);
                    }
                }
            }
        }
    }

    &__content {
        flex: 1 100%;
        display: flex;
        overflow: hidden;

        &>* {
            opacity: 0;
            position: relative;

            &.anim-next {
                animation: animNext 0.25s forwards;
            }
    
            &.anim-prev {
                animation: animPrev 0.25s forwards;
            }

            &.static {
                opacity: 1;
            }
        }
    }
}

@keyframes animNext {
    0% {
        opacity: 0;
        left: 100%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes animPrev {
    0% {
        opacity: 0;
        right: 100%;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}