<div class="root">
    <div class="app">
        <div class="wrapper">
            <div class="header"></div>
            <div class="content">
                <div class="side"></div>
                <div class="page">
                    /* Plus name of page */
                    <div class="toolbar"></div>
                    <div class="page__wrapper">
                        <div class="foo"></div>
                        /* Foo - your block name */
                        <div class="sidebar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
