@import '../../../../assets/styles/utils/mixin';

.accordion {
    &__head {
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        @each $theme, $map in $themes {
            .#{$theme} & {
                border-top: 2px solid map-get($map, borderColor);
            }
        }

        &>* {
            height: 100%;
        }

        &.simple {
            cursor: pointer;
        }

        &-title {
            display: flex;
            align-items: center;
            cursor: pointer;

            .accordion__head-thumb {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: $indent-sm;
                border-radius: 4px;
                transition: $transition;
                cursor: pointer;
                @each $theme, $map in $themes {
                    .#{$theme} & {
                        background-color: map-get($map, white);
                        border: 2px solid map-get($map, borderColor);
                    }
                }
    
                &:hover {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            border-color: map-get($map, brandPantonBlue);
                        }
                    }
                }
            }
            
            &--active {
                .accordion__head-thumb {
                    @each $theme, $map in $themes {
                        .#{$theme} & {
                            background: map-get($map, brandPantonBlue);
                            border-color: map-get($map, brandPantonBlue);
                        }
                    }
                    
                    svg {
                        width: 10px;
                        fill: white;
                    }
                }
            }
        }

        .accordion__head-expender {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: $indent-sm;
            cursor: pointer;

            svg {
                transition: all 0.2s ease-in-out;
                transform: rotate(180deg);
            }
        }

        &.opened {            
            .accordion__head-expender {
                svg {
                    transform: rotate(0);
                }
            }
        }
    }

    &__body {
        max-height: 0;
        margin: 0;
        transition: $transition;
        overflow: hidden;
        @each $theme, $map in $themes {
            .#{$theme} & {
                border-top: 0px solid transparent;
            }
        }

        &.opened {
            padding: $indent-lg 0;
            max-height: 2000px;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    border-top: 2px solid map-get($map, borderColor);
                }
            }
        }

        &>* {
            line-height: 20px !important;
        }
    }

    &:last-child, &:only-child {
        @each $theme, $map in $themes {
            .#{$theme} & {
                border-bottom: 2px solid map-get($map, borderColor);
            }
        }
    }
}
