@import 'utils/mixin';
@import 'utils/reset';
@import 'fonts';

.colorIcon {
    width: 36px;
    height: 36px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    transition: $transition;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, white);
        }
    }

    &:hover {
        transform: scale(1.2);
        @each $theme, $map in $themes {
            .#{$theme} & {
                border: 1px solid map-get($map, brandPantonBlue);
            }
        }
    }
}

.dot {
    position: absolute;
    top: 7px;
    width: 6px;
    min-width: 6px;
    height: 6px;
    min-height: 6px;
    border-radius: 50%;

    &--red {
        background-color: $brandPantonRed;
    }
}

html {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.app,
h1,
h2,
h3,
p {
    @include _font-family;
    font-size: $fz-md;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @each $theme, $map in $themes {
        .#{$theme} & {
            color: map-get($map, brandPantonText);
        }
    }
}

.dark {
    background: #000;
}

.light {
    background: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @each $theme, $map in $themes {
        .#{$theme} & {
            box-shadow: 0 0 0 30px map-get($map, white) inset !important;
            -webkit-box-shadow: 0 0 0 30px map-get($map, white) inset !important;
            -webkit-text-fill-color: map-get($map, brandPantonText) !important;
        }
    }
}

// FONT
.p {
    &--sm {
        &--thin {
            @include _p--sm;
            font-weight: 300;
        }

        &--normal {
            @include _p--sm;
            font-weight: 400;
        }

        &--bold {
            @include _p--sm;
            font-weight: 500;
        }
    }

    &--md {
        &--thin {
            @include _p--sm;
            font-weight: 300;
        }

        &--normal {
            @include _p--md;
            font-weight: 400;
        }

        &--bold {
            @include _p--md;
            font-weight: 500;
        }
    }

    &--lg {
        &--thin {
            @include _p--lg;
            font-weight: 300;
        }

        &--normal {
            @include _p--lg;
            font-weight: 400;
        }

        &--bold {
            @include _p--lg;
            font-weight: 500;
        }
    }
}

// WRAPPER
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

// PROGRESSBAR
.progressbar {
    width: 100vw;
    position: absolute;
    z-index: 1000;

    > div {
        height: 2px;
        background: transparent;
    }
}

// PAGE POSITION
.page {
    @include _page-position;
    z-index: 1;
    position: relative;

    &__wrapper {
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: $transition;
        @each $theme, $map in $themes {
            .#{$theme} & {
                background: map-get($map, white);
            }
        }
    }
}

// TABs SPLITER
.tabs-spliter {
    width: 100%;
    height: 100%;
    position: relative;
}

// BLOCK INSIDE TABS
.block-info {
    &__photo {
        max-width: 150px;
    }

    &__header {
        margin-bottom: $indent-md;
        @each $theme, $map in $themes {
            .#{$theme} & {
                color: map-get($map, brandPantonSubText);
            }
        }
    }

    &__text {
        line-height: 16px !important;
    }
}

// FOCUS-VISIBLE POLIFIL SETUP

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

// PRIMEREACR STYLE //
/* PHIGH-TLIGHT*/
.p-highlight {
    background: $brandPantonBlue !important;
}

.p-accordion .p-highlight a {
    background: $brandPantonSubText !important;
}

/* TABLE CUSTOM GLOBAL STYLING */
// Custamize PrimeReact table scrollbar
.p-datatable-scrollable-header-box {
    margin-right: 10px !important;
}

// Custome scrolebar
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    transition: $transition;
    &:hover {
        background: #7c7c7c4d;
    }
}
::-webkit-scrollbar-thumb {
    background: #5050504f;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #55555580;
}

.table {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: $indent-md;
}

.table__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: $transition;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, brandBackground);
        }
    }

    * {
        font-size: $indent-md;
    }

    tr.p-highlight:focus {
        outline: none;
    }

    td {
        cursor: default;
    }
}

.p-datatable {
    height: 100%;
}

.p-datatable-scrollable-body {
    overflow-y: scroll;
}

.p-column-title {
    width: calc(100% - 16px);
    display: flex;
    padding-right: $indent-sm;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-sortable-column {
    .p-sortable-column-icon {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 70px;
        display: flex;
        align-items: center;
        margin: 0 0.72845rem 0 0;
        background: linear-gradient(to right, transparentize(($white), 1), #f4f4f4);
        transition: all 0.2s;
    }

    .pi-sort-alt:before,
    .pi-sort-amount-up-alt:before,
    .pi-sort-amount-down::before {
        margin-left: auto;
    }

    &:hover {
        .p-sortable-column-icon {
            background: linear-gradient(to right, transparentize(($white), 1), #e0e0e0);
        }
    }

    &.p-highlight {
        .p-sortable-column-icon {
            background: linear-gradient(to right, transparentize(($white), 1), $brandPantonBlue);
            transition: all 0.2s;
        }

        &:hover {
            background: darken($brandPantonBlue, 10%) !important;
            .p-sortable-column-icon {
                background: linear-gradient(
                    to right,
                    transparentize(($white), 1),
                    darken($brandPantonBlue, 10%)
                );
            }
        }
    }
}

.p-column-filter {
    width: 100%;
    transition: $transition;

    &:hover {
        border-color: $brandPantonBlue !important;
    }
}

.p-datatable-tbody > tr > td {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.p-datatable .p-datatable-thead > tr > th {
    position: relative;
}

// ANIMATION DILAY

.anim {
    animation: anim 0.25s forwards;
}

@keyframes anim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

// LOADER

.loader {
    flex: 1 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: transparentize(map-get($map, black), 0.8);
        }
    }

    svg {
        width: 36px;
        height: 36px;
        @each $theme, $map in $themes {
            .#{$theme} & {
                fill: map-get($map, brandPantonText);
            }
        }
    }
}
