@import '../assets/styles/utils/mixin';

.bottombar {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: $transition;
    z-index: 102;
    @each $theme, $map in $themes {
        .#{$theme} & {
            background: map-get($map, white);
        }
    }

    &__header {
        width: 100%;
        min-height: 50px;
        max-height: 50px;
        display: flex;
        padding: $indent-sm;
        border-top: 1px solid;
        transition: $transition;
        z-index: 103;
        @each $theme, $map in $themes {
            .#{$theme} & {
                background: map-get($map, white);
                border-color: map-get($map, borderColor);
            }
        }

        &-title {
            flex: 1;
            display: flex;
        }
    }

    .custom-button--typical {
        svg {
            @each $theme, $map in $themes {
                .#{$theme} & {
                    background: map-get($map, borderColor);
                }
            }
        }
    }

    &__label {
        display: flex;
        align-items: center;
        margin-left: $indent-md;
        font-weight: 600;
        @each $theme, $map in $themes {
            .#{$theme} & {
                color: map-get($map, brandPantonText);
            }
        }
    }

    &__body {
        height: 0;
        transition: $transition;
        overflow: hidden;
        visibility: hidden;
    }

    &.shown {
        min-height: 250px;
        max-height: 250px;

        .bottombar__header {
            flex-direction: row;
            @each $theme, $map in $themes {
                .#{$theme} & {
                    box-shadow: 0px 2px 10px map-get($map, brandBoxShadow);
                }
            }

            &-title {
                flex-direction: row;
            }

            &-close {
                .custom-button--typical {
                    svg {
                        border: none;
                        @each $theme, $map in $themes {
                            .#{$theme} & {
                                background: map-get($map, white);
                            }
                        }
                    }
                }
            }
        }

        .bottombar__body {
            height: 100%;
            visibility: visible;
        }
    }

    &.hidden {
        min-height: 50px;
        max-height: 50px;
    }
}
